###  1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

     *                : Expression

     'hello'          : Value

     -87.8            : Value

     -                : Expression

     /                : Expression     
    
     +                : Expression

     6                : Value

### 2. What is the difference between string and variable?

String is type of information which store in variabe.

Variable assigns a space where we store fifferent kind of information.

In [1]:
x='sush'

Here, x is variable whereas 'sush is the string or information stored in variable x'

### 3. Describe three different data types.
Following are examples of data types:

1 Integer: Integer are values in form of 1, 2, 3

2 Float: Float are values in the form of 1.0, 2.0, 5.7, 9.8

3 Complex: These are values in form of 5+9j where 5 is real value and 9 is imaginary value.

In [2]:
a=5
type(a)

int

In [3]:
b=5.0
type(b)

float

In [4]:
c=4+9j
type(c)

complex

### 4. What is an expression made up of? What do all expressions do?

Expressions are made of variable, values and arithmetic operators which performs operations on the given values accordingly and gives us a resut value.

In [5]:
a=5    # variables
b=8
z=12

In [6]:
k=(a*2) +( z**2)    # Expression
print(k)

154

### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Expression are made up of variable, values and operations which basically performs calculations and gives us a final value.

Whereas Statement performs tasks like assigning a value or printing value etc.

In [7]:
spam=10        # statement
print(spam)    # statement

10

In [8]:
spam*2 + 10**2            #Expression

120

### 6. After running the following code, what does the variable bacon contain?  bacon = 22   bacon + 1

bacon= 22 , Because bacon+1 is performed in a different storage location and original value of bacon is still 22

In [9]:
bacon=22
bacon+1

23

In [10]:
bacon

22

### 7. What should the values of the following two terms be?     'spam' + 'spamspam'   and   'spam'* 3

'spam'+'spamspam' = 'spamspamspam'

'spam'*3 = 'spamspamspam'

In [11]:
'spam'+'spamspam'

'spamspamspam'

In [12]:
'spam'*3

'spamspamspam'

### 8. Why is eggs a valid variable name while 100 is invalid?

Variable name can start with either charachter or underscore. 100 is integer value and hence can't be assigned as variable name.

In [13]:
eggs=500

In [14]:
100='yk'

SyntaxError: can't assign to literal (<ipython-input-14-1320508591d5>, line 1)

In [15]:
_s=5500

### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

The functions are:
int() , float() , str()

In [16]:
int(5.0)

5

In [17]:
float(6)

6.0

In [18]:
str(899)

'899'

### 10. Why does this expression cause an error? How can you fix it?  'I have eaten' + 99 + 'burritos'

Here 99 is in form of int which cant be added to string. Hence we need to change it to string by writing it in quotes.

'I have eaten' + '99' + 'burritos'

In [19]:
'I have eaten'+ 99 + 'burritos'

TypeError: must be str, not int

In [20]:
'I have eaten'+ '99' + 'burritos'

'I have eaten99burritos'